.collectionProducts__listButtons_button {
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #A0A3AD;
}

.bgColor {
    background-color: rgba(255, 116, 23, 1);
}