.cardImg {
    width: 70px;
    height: 95px;
    display: none;
}

.cardSpecialWidth {
    width: 60px;
}

.contentModal {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

.itemProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 30px;
}

.productTitle {
    font-size: 19px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 14px;
}

.productSubtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: rgba(255, 116, 23, 1);
}

.wrapperTitles {
    width: 145px;
}

.arrowRotate {
    transform: rotate(180deg);
    margin-bottom: 10px;
}

.amountProducts {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .contentModal {
        height: 400px;
    }
    .itemProduct {
        width: 440px;
    }
    .cardImg {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .itemProduct {
        width: 740px;
    } 
}