.collectionProducts__card {
    max-width: 900px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 200ms;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 10px;
}

.collectionProducts__card:hover {
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
}

.card__img {
    margin-bottom: 10px;
    width: 140px;
    height: 270px;
    border-radius: 25px;
}

.card__img__width1 {
    width: 230px;
    height: 230px;
}

.card__img__width2 {
    width: 200px;
}

.card__title {
    font-size: 19px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 12px;
}

.card__listInformation {
    max-width: 985px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .card__listInformation {
        width: 55%;
    }
    .collectionProducts__card {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .collectionProducts__card {
        width: 30%;
    }
}
@media screen and (min-width: 1440px) {
    .collectionProducts__card {
        width: 20%;
    }
}